src/main/mule/demo20211104v10.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7ebadeaf-fbfe-42fc-9b68-26e186291e32" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="31b95070-1a90-4039-84ab-71b85b36a434" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="demo20211104v10Flow" doc:id="fc8359e7-5157-4111-a25d-046c25583966" >
		<http:listener doc:name="Listener" doc:id="29bd3ca9-fae1-47df-b546-868144b71633" config-ref="HTTP_Listener_config" path="/add"/>
		<set-variable value="#[attributes.queryParams.a]" doc:name="Set Variable" doc:id="7c73d823-8ede-4a1e-8b57-c22a86bc561f" variableName="a"/>
		<set-variable value="#[attributes.queryParams.b]" doc:name="Set Variable" doc:id="de9209f2-3085-4ca2-b750-df7f1ece685e" variableName="b"/>
		<ee:transform doc:name="Transform Message" doc:id="a2113cdb-a178-4595-ba22-d7bd7ad1f29f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.a as Number,
		ns0#intB: vars.b as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:name="Consume" doc:id="9e9bb0bb-9881-42b9-8a6b-2c8728d83001" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="bdd26b55-aa4f-4181-be98-bd2f7069577b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
