src/main/mule/demo20211103v3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2c933ff8-f893-4bf5-8e85-cb41d3268ca8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="MainFlow" doc:id="1427519c-9b5d-4079-99bc-6596d0387d39" >
		<http:listener doc:name="/GET hello" doc:id="a724682c-7dbb-48e3-b62a-68e9191d25c3" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="af3f4715-aa3a-4adb-b3bb-e698dc375022" message="Main flow got invoked."/>
		<set-variable value="10" doc:name="Set Variable" doc:id="c554e40c-db3c-4a51-bc03-1a2b8a34be0e" variableName="var1"/>
		<flow-ref doc:name="Flow Reference" doc:id="84b908bb-03fc-44f2-aa3d-a0959d2370d5" name="PrivateFlow"/>
		<flow-ref doc:name="Flow Reference" doc:id="58ecb8ef-e3a1-4b0a-8455-aa879654b05a" name="SubFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="a50fe7a8-6cc8-4f58-9cc3-186967a4ca84" message="#[vars.var1]"/>
	</flow>
	<sub-flow name="SubFlow" doc:id="b6fc5abe-368a-46e9-8add-045babe558e8" >
		<logger level="INFO" doc:name="Logger" doc:id="73029739-838f-4380-ac4c-655a46398262" message="Sub flow got invoked."/>
		<set-variable value="20" doc:name="Set Variable" doc:id="8912e242-b46d-46ba-a21c-b8b1253b1e8e" variableName="var1"/>
	</sub-flow>
	<flow name="PrivateFlow" doc:id="56da5cc4-6f92-4eb0-b906-6ebcd62300c2" >
		<logger level="INFO" doc:name="Logger" doc:id="42aa0ac1-2861-4ee5-acb7-538aa128566d" message="Private flow got invoked."/>
		<set-variable value="30" doc:name="Set Variable" doc:id="6f718870-41c7-4dbf-831d-c63e4309768d" variableName="var1"/>
	</flow>
</mule>
