src/main/mule/demo20211103v2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e8c51eaa-b79a-462d-b8a1-786328cd930f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="d732fa86-8f9e-4f8b-9333-67fea820ea25" >
		<wsc:connection wsdlLocation=" http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="demo20211103v2Flow" doc:id="fe01ff09-fff8-4b44-b14a-7224d16711d0" >
		<http:listener doc:name="Listener" doc:id="f1cf9e0f-b641-4b3c-b5e8-3667a43691fe" config-ref="HTTP_Listener_config" path="/addTwoNumbers">
			<ee:repeatable-file-store-stream bufferUnit="MB" />
		</http:listener>
		<set-variable value="#[attributes.queryParams.num1]" doc:name="Set Variable" doc:id="e49af27e-21de-46b7-ad91-86e136724faa" variableName="var1"/>
		<set-variable value="#[attributes.queryParams.num2]" doc:name="Set Variable" doc:id="db03c86b-dd68-4a10-b9f7-a0c351d20817" variableName="var2"/>
		<ee:transform doc:name="Transform Message" doc:id="d24ec0ed-52b4-4210-aa39-6cded20c4fc7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.var1 as Number,
		ns0#intB: vars.var2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="382dfc32-22e7-4ac9-b575-f5399e4a9784" config-ref="Web_Service_Consumer_Config" operation="Add"/>
		<logger level="INFO" doc:name="Logger" doc:id="9fd29455-6d11-4463-8ddb-71ced0eeee39" message="#[payload.body.AddResponse.AddResult]"/>
	</flow>
</mule>
